<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyh.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xyh.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
            <result property="birthDay" column="birth_day" jdbcType="DATE"/>
            <result property="imagePath" column="image_path" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
<!--            <result property="userLevel" column="user_level" jdbcType="INTEGER"/>-->
            <result property="classesId" column="classes_id" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,password,
        username,sex,user_email,
        role,user_status,birth_day,
        image_path,deleted,
        create_user,create_time
    </sql>
    <update id="updateUser">
        UPDATE  tbl_user
        <trim prefix="set" suffixOverrides=",">
            <if test=" username != null and username != ''">
                username = #{username},
            </if>
            <if test=" userEmail != null and userEmail != ''">
                user_email = #{userEmail},
            </if>
            <if test=" sex != null">
                sex = #{sex},
            </if>
            <if test=" birthDay != null ">
                birth_day = #{birthDay},
            </if>
<!--            <if test=" userLevel != null and userLevel != 0 ">-->
<!--                user_level = #{userLevel},-->
<!--            </if>-->
            <if test="classesId != null">
                classes_id = #{classesId}
            </if>
        </trim>
        where id = #{id}
    </update>
    <select id="getUserKeyValue" resultType="com.xyh.vo.response.other.KeyValue">
        SELECT
            COUNT(*) AS `value`,
            CASE `role`
                WHEN 0 THEN '管理员'
                WHEN 1 THEN '教师'
                ELSE '学生'
                END AS `name`
        FROM
            tbl_user
        WHERE deleted = FALSE
        GROUP BY `role`
    </select>
</mapper>
